{%extends "base.html"%}
{%block main%}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ="profile.css") }}" />
                   
        <body>
            <div class="col-sm-2 col-sm-offset-4 frame">
            <div class="profile" style=float:left text-align:center>
                <img class="img-circle img-thumbnail" href="{{ url_for('bobmarley.jpg')"/>
            
             
             <br> 
             <h2>{{ user.fname }}&nbsp{{ user.lname }} </h2> 
             <br>
                  <img src="{{url_for('static',filename='images/email.pnd')}}"  style="width:12px;height:12px"> {{ user.email }} <br>
                  <img src="{{url_for('static',filename='images/location.png')}}"  style="width:12px;height:12px"> {{ user.address }} <br>
                   <img src="{{url_for('static',filename='images/calendar.png')}}"  style="width:12px;height:12px">{{ user.created_on }} <br>
                  
            </div>
            <div>
               About Me    
               {{ user.bio }}
                <br> <br>
              <button type="submit" name="submit" class="btn btn-primary but">Send Message</button>
              &nbsp&nbsp&nbsp&nbsp
              <button type="submit"  class="btn btn-primary but1">Follow</button>
                
                <button class="btn btn-info pull-left" data-toggle="tooltip" data-placement="top" title="Follow to piojoman">Send Message</button>                        
                <button class="btn btn-info pull-left" data-toggle="tooltip" data-placement="top" title="Follow to piojoman">Follow</button>                        
            </div>                                         
            </div>
     </body>   




{% endblock%}